<form action:"/edit" method="post" enctype="multipart/form-data" >
    <div class="container-fluid">
        <h1>Edit Product</h1>
        <input type="text" placeholder="Nhap ten" name="name" id="name">
        <input type="number" placeholder="Nhap dia chi" name="address"id="address">
        <input type="number" placeholder="Nhap email" name="email" id="email">
        <h4>Anh</h4>
    
            <label for="img">Chọn ảnh:</label>
            <input type="file" id="img" name="image" accept="image/*">
            <input type="submit">
        
    </div>
          </form>
    